<div class="row footerMarge">
    <div class="footer col-xs-4 text-center">
        <p>Hackaton #1</p>
    </div>
    <div class="footer col-xs-4 text-center">
        <p>Wild Code School</p>
    </div>
    <div class="footer col-xs-4 text-center">
        <p>François, Florence, Alexis</p>
    </div>
</div>
