<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="/">Movie Search</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</div>
