/************************************************\
==================================================
1. Font
2. Navbar
3. Citation
4. Footer
==================================================
\************************************************/

/************************************************\
==================================================
1. Font
==================================================
\************************************************/
@font-face {
    font-family: 'Folkard';
    src: url('fonts/folkard_.ttf');
}


/************************************************\
==================================================
2. Navbar
==================================================
\************************************************/

.navbar{
    background-color: teal;
    color : white;
}
a{
    color:white !important;
}
.navbar-brand{
    color: white !important;
    font-family: 'Folkard';
}


/************************************************\
==================================================
3. Citation
==================================================
\************************************************/
legend{
    text-align:center;

}

.form-group {
    margin-bottom: 50px;
}
.btn-primary{
    background-color:teal !important;
    text-align : center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/************************************************\
==================================================
4. Footer
==================================================
\************************************************/

footer {
    background-color: teal;
    color : white;

}